:root {
	--veryDarkGray: hsl(0, 0%, 17%);
	--darkGray: hsl(0, 0%, 59%);
	--lightGray: hsl(0, 0%, 80%);
}

body {
	background-color: var(--lightGray);
}

h1 {
	font-weight: 700;
}

.App {
	text-align: center;
	color: var(--veryDarkGray);
	display: flex;
	flex-direction: column;
}

.input-container {
	display: flex;
	margin: 0 auto;
}

.icon-arrow {
	background-color: var(--veryDarkGray);
	width: 40px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: none;
}

.icon-arrow:hover {
	background-color: var(--darkGray);
}

.info-label {
	color: var(--darkGray);
	font-size: small;
	font-weight: 500;
}

.info-data {
	font-size: larger;
	font-weight: 500;
}
